html{
    text-align: center;
}

.spec_img{
    border: 5px solid black;
}

.logo-name{
    font-size: xx-large;
}
.footer{
    background-color: blue;
    font-size: 15px;
    text-align: center;;
}


@media (min-width: 300px) and (max-width: 600px){
html{
    background-color: #6c3428; 
}
}

@media (min-width: 601px) and (max-width:1200px){
html{
    background-color: #BA704f;
}
}

@media (min-width: 1201px) and (max-width:1600px){
    html{
        background-color: #DFA878;
    }
}

@media (min-width: 1601px){
    html{
        background-color: #CEE6F3;
    }
}
