

/*.logo-name {
    font-size: 1.2rem;
    font-family: 'Bree Serif', serif;
    font-style: italic;
}*/

/*.cute-dog{
    height: 200px;
    width: 200px;
    border: 5px solid black;
    background-color: #47b5ff;
    border-radius: 20%;
} */

.cute-dog{
    text-align: center;
    font-size: xx-large;
}

.footer{
    background-color: blue;
    font-size: 10px;
    text-align: center;;
}